@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Sen&display=swap");

$white: rgb(240, 240, 240);
$black: #1f1f1f;
$wrapper-gutter: 30px;
$wrapper-width: 1600px;

$bp-sm: 640px;
$bp-md: 800px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$ff-base: "Inter";
$ff-alpha: "Inter";
$ff-style: "Inter";

$zi-header: 10;
$zi-overlay: 9;
